<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izicoin</title>
   {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   <section class="head_section">
    <ul class="list_head">
      <div class="und_list_head1">
        <li class="fst"><a href="#" class="fst">8 (800) 200-28-81</a></li>
        <li class="scd"><a href="#" class="scd"><svg width="64px" height="64px" viewBox="-10.56 -10.56 45.12 45.12" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="matrix(1, 0, 0, 1, 0, 0)" stroke-width="1.6320000000000001">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.528"></g>
              <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2848 18.9935C12.1567 19.0875 12.0373 19.1728 11.9282 19.2493C11.8118 19.1721 11.6827 19.0833 11.5427 18.9832C10.8826 18.5109 10.0265 17.8176 9.18338 16.9529C7.45402 15.1792 6 12.9151 6 10.5C6 7.18629 8.68629 4.5 12 4.5C15.3137 4.5 18 7.18629 18 10.5C18 12.8892 16.4819 15.1468 14.6893 16.9393C13.8196 17.8091 12.9444 18.5099 12.2848 18.9935ZM19.5 10.5C19.5 16.5 12 21 12 21C11.625 21 4.5 16.5 4.5 10.5C4.5 6.35786 7.85786 3 12 3C16.1421 3 19.5 6.35786 19.5 10.5ZM13.5 10.5C13.5 11.3284 12.8284 12 12 12C11.1716 12 10.5 11.3284 10.5 10.5C10.5 9.67157 11.1716 9 12 9C12.8284 9 13.5 9.67157 13.5 10.5ZM15 10.5C15 12.1569 13.6569 13.5 12 13.5C10.3431 13.5 9 12.1569 9 10.5C9 8.84315 10.3431 7.5 12 7.5C13.6569 7.5 15 8.84315 15 10.5Z" fill="#080341"></path>
              </g>
            </svg></a></li>
        <li class="forth"><a href="#" class="forth">Москва,Россия</a></li>
      </div>
      <div class="und_list_head2">
        <li class="thd"><a href="/page_of_registration" class="thd">Вход или регистрация</a>{{current_user.name}}</li>
      </div>
    </ul>
  </section>
</head>


<body>
<header>
    <nav class = "list_header">
      <li class = "cursive"><a href = "/" class = "cursive ">IZICOIN</a></li>
      <div class = "und_list_nav1">
      <li class = "el_nav"><a href = "/Console" class = "el_nav">Консоли</a></li>
      <li class = "el_nav"><a href = "/PC" class = "el_nav">PC</a></li>
      <li class = "el_nav"><a href = "/support" class = "el_nav">Поддержка</a></li>
      </div>
     <div class = "und_list_nav2">
        <li><a href = "#"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a></li>
      </div>
    </nav>
  </header>
{% block content %}

{% endblock %}
</body>
<footer>
    <section class = "main_foot">
    <div class = "fst_list_foot">
      <ul>
        <li class = "icon_foot"><a class = "icon_foot" href = "#"><i class="fa-brands fa-telegram" style="color: #ffffff;"></i></a></li>
        <li class = "icon_foot"><a class = "icon_foot" href = "#"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
        <li class = "icon_foot"><a class = "icon_foot" href = "#"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a></li>
        <li class = "icon_foot"><a class = "icon_foot" href = "#"><i class="fa-brands fa-vk" style="color: #ffffff;"></i></a></li>
      </ul>
    </div>
    <div class = "scd_list_foot">
      <ul>
        <li class = "el_list_foot"><a class = "el_list_foot" href = "#">Политика конфиденциальности</a></li>
        <li class = "el_list_foot"><a class = "el_list_foot"  href = "#">Права пользования</a></li>
        <li class = "el_list_foot"><a class = "el_list_foot" href = "#">Партнёрство</a></li>
      </ul>
    </div>
    </section>
  </footer>
</html>