<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <script src="{% load static %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
   <section class="head_section">
    <ul class="list_head">
      <div class="und_list_head1">
        <li class="fst"><a href="#" class="fst">8 (800) 200-28-81</a></li>
        <li class="scd"><a href="#" class="scd"><svg width="64px" height="64px" viewBox="-10.56 -10.56 45.12 45.12" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="matrix(1, 0, 0, 1, 0, 0)" stroke-width="1.6320000000000001">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.528"></g>
              <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2848 18.9935C12.1567 19.0875 12.0373 19.1728 11.9282 19.2493C11.8118 19.1721 11.6827 19.0833 11.5427 18.9832C10.8826 18.5109 10.0265 17.8176 9.18338 16.9529C7.45402 15.1792 6 12.9151 6 10.5C6 7.18629 8.68629 4.5 12 4.5C15.3137 4.5 18 7.18629 18 10.5C18 12.8892 16.4819 15.1468 14.6893 16.9393C13.8196 17.8091 12.9444 18.5099 12.2848 18.9935ZM19.5 10.5C19.5 16.5 12 21 12 21C11.625 21 4.5 16.5 4.5 10.5C4.5 6.35786 7.85786 3 12 3C16.1421 3 19.5 6.35786 19.5 10.5ZM13.5 10.5C13.5 11.3284 12.8284 12 12 12C11.1716 12 10.5 11.3284 10.5 10.5C10.5 9.67157 11.1716 9 12 9C12.8284 9 13.5 9.67157 13.5 10.5ZM15 10.5C15 12.1569 13.6569 13.5 12 13.5C10.3431 13.5 9 12.1569 9 10.5C9 8.84315 10.3431 7.5 12 7.5C13.6569 7.5 15 8.84315 15 10.5Z" fill="#080341"></path>
              </g>
            </svg></a></li>
        <li class="forth"><a href="#" class="forth">Москва,Россия</a></li>
      </div>
      <div class="und_list_head2">
        <li class="thd"><a href="#" class="thd">Вход или регистрация</a></li>
      </div>
    </ul>
  </section>
</head>
</head>

<body>
<header>
    <nav class="nav">
      <ul class="list_header">
        <li class="el_list_header bl_green"><a href="#" class="el_list_header bl_green">IZICOIN.RU</a></li>
        <div class="und_list_header">
          <li class="el_list_header bl_green"><a href="#" class="el_list_header bl_green">Магазин</a></li>
          <li class="el_list_header bl_green"><a href="#" class="el_list_header bl_green">ПК</a></li>
          <li class="el_list_header bl_green"><a href="#" class="el_list_header bl_green">Консоли</a></li>
          <li class="el_list_header bl_green"><a href="#" class="el_list_header bl_green">Мобильные</a></li>
          <li class="el_list_header bl_green"><a href="#" class="el_list_header bl_green">Лайфстайл</a></li>
          <li class="el_list_header bl_green"><a href="#" class="el_list_header bl_green">Комьюнити</a></li>
          <li class="el_list_header cl_geen"><a href="#" class="el_list_header cl_geen">Поддержка</a></li>
        </div>
        <div class="und_svg_list_header">
          <li class="svg_icon_header1"><a href="#"><svg width="64px" height="64px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.048"></g>
                <g id="SVGRepo_iconCarrier">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15 10.5C15 12.9853 12.9853 15 10.5 15C8.01472 15 6 12.9853 6 10.5C6 8.01472 8.01472 6 10.5 6C12.9853 6 15 8.01472 15 10.5ZM14.1793 15.2399C13.1632 16.0297 11.8865 16.5 10.5 16.5C7.18629 16.5 4.5 13.8137 4.5 10.5C4.5 7.18629 7.18629 4.5 10.5 4.5C13.8137 4.5 16.5 7.18629 16.5 10.5C16.5 11.8865 16.0297 13.1632 15.2399 14.1792L20.0304 18.9697L18.9697 20.0303L14.1793 15.2399Z" fill="#080341"></path>
                </g>
              </svg></a></li>
          <li class="svg_icon_header2"><a href="#"><svg width="64px" height="64px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
              </svg></a></li>
          <li class="svg_icon_header3"><a href="#"><svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.41442 6H3.75V4.5H6.58558L7.33558 7.5H18.935L17.2321 15.1627L16.5 15.75H8.25L7.51786 15.1627L6.02 8.42233L5.41442 6ZM7.68496 9L8.85163 14.25H15.8984L17.065 9H7.68496ZM10.5 18C10.5 18.8284 9.82843 19.5 9 19.5C8.17157 19.5 7.5 18.8284 7.5 18C7.5 17.1716 8.17157 16.5 9 16.5C9.82843 16.5 10.5 17.1716 10.5 18ZM15 19.5C15.8284 19.5 16.5 18.8284 16.5 18C16.5 17.1716 15.8284 16.5 15 16.5C14.1716 16.5 13.5 17.1716 13.5 18C13.5 18.8284 14.1716 19.5 15 19.5Z" fill="#080341"></path>
                </g>
              </svg></a></li>
        </div>
      </ul>
    </nav>
  </header>
{% block content %}

{% endblock %}
</body>
<footer>
  <section class="footer_box">
   <div class = "list_footer1">
     <h4>Shop</h4>
    <ul class = "list_footer">
      <li class = "el"><a href = "#" class = "el">IzicoinStores</a></li>
      <li class = "el"><a href = "#" class = "el">IzicoinCafe</a></li>
      <li class = "el"><a href = "#" class = "el">Store Locator</a></li>
      <li class = "el"><a href = "#" class = "el">Purchase Programs</a></li>
      <li class = "el"><a href = "#" class = "el">Education</a></li>
      <li class = "el"><a href = "#" class = "el">Exclusives</a></li>
      <li class = "el"><a href = "#" class = "el">RazerStore Rewards</a></li>
      <li class = "el"><a href = "#" class = "el">Newsletter</a></li>
     </ul>
    </div>

    <div class = "list_footer2">
     <h4>Explore</h4>
    <ul class = "list_footer">
      <li class = "el"><a href = "#" class = "el">Technology</a></li>
      <li class = "el"><a href = "#" class = "el">IzizcoinCafe</a></li>
      <li class = "el"><a href = "#" class = "el">Chroma RGB</a></li>
      <li class = "el"><a href = "#" class = "el">Concepts</a></li>
      <li class = "el"><a href = "#" class = "el">Esports</a></li>
      <li class = "el"><a href = "#" class = "el">Collabs</a></li>
     </ul>
    </div>


    <div class = "list_footer3">
     <h4>Support</h4>
    <ul class = "list_footer">
      <li class = "el"><a href = "#" class = "el">Get Help</a></li>
      <li class = "el"><a href = "#" class = "el">Registration & Warranty</a></li>
      <li class = "el"><a href = "#" class = "el">IzicoinStore Support</a></li>
      <li class = "el"><a href = "#" class = "el">IzicoinCare</a></li>
      <li class = "el"><a href = "#" class = "el">Manage Izicoin ID</a></li>
      <li class = "el"><a href = "#" class = "el">Support Videos</a></li>
      <li class = "el"><a href = "#" class = "el">Accessibility Statement</a></li>
     </ul>
    </div>


    <div class = "list_footer3">
     <h4>Company</h4>
    <ul class = "list_footer">
      <li class = "el"><a href = "#" class = "el">About Us</a></li>
      <li class = "el"><a href = "#" class = "el">Careers</a></li>
      <li class = "el"><a href = "#" class = "el">Newsroom</a></li>
      <li class = "el"><a href = "#" class = "el">zVentures</a></li>
      <li class = "el"><a href = "#" class = "el">Contact Us</a></li>
     </ul>
    </div>

  </section>
  </footer>
</html>