<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <script src="{% load static %}"></script>
   <link rel="stylesheet" href="{% static 'css/styles_for_comment.css' %}">
</head>
<body>
  <h1 class="fullname">William Rocher</h1>
<h2 class="jobtitle">UI DEVELOPER</h2>
<div class="cont">
  <form>
    <h1 class="titlecomment">Написать отзыв</h1>
    <div class="form-group message">
      <textarea id="formmessage" class="form-control" rows="7" placeholder="пишите..."></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn" tabIndex="-1">ОТПРАВИТЬ</button>
    </div>
  </form>
</div>
</body>
</html>