<body>
  <div class="login-page">
    <div class="form">
      <form method="POST" class="login-form">
        <input name="username" type="text" placeholder="Имя">
        <input name="usersurname" type="text" placeholder="Фамилия">
        <input name="useremail" type="email" placeholder="e-mail">
        <input name="userphonenumber" type="number" placeholder="номер телефона">
        <input name="userpassword" type="password" placeholder="Пароль">
        <button name="login-btn">
          <p>Авторизироваться</p>
        </button>
      </form>

    </div>

  </div>
</body>