{% extends 'base.html' %}
{% block content %}
 <div class = "box_btn">
  <button class = "btn" id = "btnmn">CLICK ME</button>
  </div>
  <section class = "main_body" id = "mn">
  <section class = "main_body1" id = "mnbody1">
    <div class = "par1">
      <img src = "https://catherineasquithgallery.com/uploads/posts/2021-02/1612211721_65-p-fioletovii-fon-dlya-rabochego-stola-geimer-97.jpg" class = "img1">
    </div>
    <div class = "par2">
      <p class = "el_paraph_main">IZICOIN лучший магазиг игр в РФ.</p>
      </div>
  </section>
  <section class = "main_body2" id = "mnbody2">
    <div class = "par2">
      <p class = "el_paraph_main">Широкий каталог,<p class = "el_paraph_main">включая продукты недоступные в РФ.</p></p>
    </div>
    <div>
      <img src = "https://avatars.mds.yandex.net/i?id=04cad79366fdc94efc767271b2952512674ef88e-12390814-images-thumbs&n=13" class = "img2">
    </div>
  </section>
  <section class = "main_body3" id = "mnbody3">
    <div>
      <img src = "https://avatars.mds.yandex.net/i?id=54bbd6580ce6f0bc12578335eafc58a506128fd3-11402455-images-thumbs&n=13" class = "img3">
    </div>
    <div class = "par2">
      <p class = "el_paraph_main">Быстрый отклик поддержки</p>
    </div>
  </section>
  </section>
{% endblock %}