{% extends 'base.html' %}
{% block content %}
<div class = "line"></div>
  <section class = "main1">
    <div>
    <img src = "https://avatars.mds.yandex.net/i?id=7771a75f235af057c697c1af11e9099b068f71cd-11516533-images-thumbs&n=13" class = "img1">
    </div>
    <div class = "text_of_main1">
      <h2>UP TO 40% OFF</h2>
      <p class = "text_1">Exercise your right to control this cyber holiday. Delight your better half with exclusive offers of up to 40%.</p>
      <p class="text_2">From now until March 8, 2024, use code CYBER8 to receive exclusive Izicoin gifts on orders over $129.</p>
    </div>
  </section>
  <div class = "mini_title">
    <h2>BEST SELLERS</h2>
  </div>
  <section class = "main2">
    <div class = "content1">
      <div class = "img2">
      <img src = "https://avatars.mds.yandex.net/i?id=4b22f4f7c85a603136f1df23aae6e484471fdf60-10837594-images-thumbs&n=13">
      </div>
      <div class =" text_content1">
        <p class = "text1_1 curs">The wired HyperX Cloud II headset has eco-leather and foam ear pads. The all-encompassing design isolates the user from external noise. A soft pad has appeared on the headband, which reduces the pressure of the accessory. A movable, detachable microphone allows you to communicate with loved ones. When synchronizing, USB and 3.5 mm jack connectors are used.</p>
        <p class = "text1_2 curs">The sensitivity of the wired HyperX Cloud II headset is 98 dB, which indicates the volume of the sound. The diameter of the emitter membrane is 53 mm. The device copes with the reproduction of high and medium frequencies, as well as low-frequency sounds. On the surface of the 1 m cable there is a fabric braid that protects against the formation of creases.</p>
        <p class = "text1_3 curs">US$115</p>
      <div class = "box_button1">
        <button class = "button_buy">BUY</button>
      </div>
      </div>
    </div>

    <div class = "content2">
      <div class = "text_content2">
        <p class = "text2_1 curs">The wired Razer Kraken Kitty headset will help you create a playful feline look that will slay you when you look at it. The model is presented in the original gray and white color, and due to the multi-colored illumination of the cups, the appearance of the headphones becomes even more stylish. However, the main highlight of this headset lies in the presence of a pair of ears on the headband, which will help demonstrate to others your uniqueness. The model is equipped to the maximum, due to which even the most demanding gamer will be completely satisfied with the unsurpassed sound quality transmitted from the enveloping ear pads.</p>
        <p class = "text2_2 curs">The wired headset Razer Kraken Kitty received support for 7.1 Virtual surround sound, which will allow the user to fully experience the atmosphere of the game and immerse themselves in the plot. Communicate with teammates in comfort with a retractable microphone that allows your voice to be heard clearly. You can connect the headset to any computer or laptop, because it is equipped with a standard USB connector.</p>
        <p class = "text2_3 curs">US$100</p>
        <div class = "box_button2">
          <button class = "button_buy">BUY</button>
        </div>
      </div>
      <div class = "img3">
        <img src = "https://avatars.mds.yandex.net/i?id=9bf0914ffc8c652341ac8cf736edbe8c3dda22cc-5195024-images-thumbs&n=13">
      </div>
    </div>
  </section>
{% endblock %}