* {
  text-decoration: none;
  margin: 0px;
}
.cursive {
  font-family:Brush Script MT, Brush Script Std, cursive;
  font-weight: 100;
  font-stretch: expanded;
  transition: 0.3s;
  scale: 1;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}
.cursive:hover {
  transition: 0.3s;
  scale: 1.35;
  color: white;
  background-color: #878787;
}
head {
  width: 100%;
  z-index: 100;
}
.head_section {
  background: black;
  height: 2.5vmax;
}
.hk {
  display: none;
}
.list_head {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 70%;
  font-size: 0.75em;
  margin: auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.und_list_head1 {
  display: flex;
  max-width: 70%;
  justify-content: space-between;
}
.fst {
  transition: 0.3s;
  color: grey;
  margin: 1.5em 0px 0px;
}
.scd {
  color: white;
  scale: 0.75;
  margin: -0.75em 0px 0px;
}
.thd {
  transition: 0.3s;
  color: white;
  padding: 1.5em 0px 0px;
}
.forth {
  color: white;
  margin: 1.7em 0px 0px;
}
.fst:hover {
  transition: 0.3s;
  color: #ae00ff;
}
.thd:hover {
  transition: 0.3s;
  color: #ae00ff;
}
.bl_green:hover {
  transition: 0.3s;
  color: #ae00ff;
}
header {
  list-style-type: none;
  text-decoration: none;
  max-width: 100%;
  width: 100%;
  height: 5em;
  background-color: #262626;
  z-index: 100;

}
nav {
  width: 60%;
  margin: auto;
  text-content: center;
  padding-top: 1.5em;
}
.el_nav {
  transition: 0.3s;
  scale: 1;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.el_nav:hover {
  transition: 0.3s;
  scale: 1.35;
  color: white;
  background-color: #878787;
}
.list_header {
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
}
.und_list_nav1 {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.und_list_nav2 {
  display: flex;
  width: 7%;
  justify-content: space-between;
}
body {
  background-color: black;
}
.box_btn {
  width: 100%;
  text-align: center;
  padding-top: 10vh;
}
.btn {
  transition: 0.3s;
  scale: 1;
  width: 15vw;
  height: 4vw;
  background-color: #404040;
  color: white;
}
.btn:hover {
  transition: 0.3s;
  scale: 1.3;
  background-color: #878787;
}
.main_body {
  display: none;
}
.main_body1 {
  max-width: 70%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  outline: 2px solid #ae00ff;
}
.img1 {
  width: 25vmax;
}
.par2 {
  margin: auto;
  box-shadow: 12px 12px 2px 1px #3d0159;
  font-size: 2em;
}
.el_paraph_main {
  color: white;
  font-family: FreeMono, monospace;
}
.img2 {
  width: 25vmax;
}
.main_body2 {
  max-width: 70%;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  outline: 2px solid #ae00ff;
}
.main_body3 {
  max-width: 70%;
  width: 70%;
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  outline: 2px solid #ae00ff;
}
.sup_form {
  text-align: center;
}
.form_message {
  padding-top: 5em;
}
.form {
  max-width: 45em;
  max-height: 20em;
  min-width: 25em;
  min-height: 10em;
  width: 25em;
  height: 10em;
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding:  0.5rem 0.8rem;
  font-size: 17px;
  box-shadow: 0 0 20px 0 #ae00ff;
  border: 0;
}
.form:focus {
  box-shadow: none;
}
.title_form_message {
  font-family:Times, Times New Roman, serif;
  padding-top: 1em;
  color: white;
  font-size: 5rem;
}
.box_btn_form_meassage {
  padding-top: 2em;
}
.btn_form_meassage {
  transition: 0.3s;
  scale: 1;
  width: 15%;
  height: 5em;
  color: white;
  background-color: grey;
  border-radius: 2rem;
  font-weight: 900;
  border: 0;
}
.btn_form_meassage:hover {
  transition: 0.3s;
  scale: 1.2;
  box-shadow: 0 0 20px 0 #ae00ff;
}
.login_page {
  margin-top: ;
  font-family: Andale Mono, monospace;
  box-sizing: border-box;
  width: 20%;
  height: 80%;
  margin: auto;
}
.box_login_page {
  position: relative;
  z-index: 1;
  padding: 45px;
  text-align: center;
  background-color: black;
  box-shadow: 0 0 20px 0 #ae00ff;
  border: 0;
}
.box_login_page input {
  background: #1a1a1a;
  padding: 18px;
  margin: 0 0 15px;
  font-size: 15px;
  outline: rgba(46, 26, 34, 0.2) solid 2px;
  border: 0px;
}
.btn_login_page {
  transition: 0.5s;
  color: grey;
  scale = 1;
  background: #1a1a1a;
  width: 60%;
  height: 3em;
  font-size: 15px;
  margin-top: 7%;
  border: 0px;
}
.btn_login_page:hover {
  transition: 0.5s;
  scale: 1.2;
  background-color: rgba(46, 168, 203, 0.2);
  outline: 1px ridge rgba(46, 168, 203, 0.2);
  border-radius: 2rem;
}
.box_login_page input:focus {
  transition: 0.3s;
  outline: 1px ridge rgba(46, 168, 203, 0.2);
  border-radius: 2rem;
  background-color: rgba(46, 168, 203, 0.2);
}
footer {
  background-color: black;
  margin-top: 50vh;
}
.main_foot {
  display: flex;
  width: 24%;
  height: 25%;
  justify-content: space-between;
}
.fst_list_foot {
  dislay: block;
  justify-content: space-between;
}
.el_list_foot {
  color: grey;
  font-size: 1em;
  list-style-type: none;
  text-decoration: none;
  padding: 0.6em;
}
.el_list_foot:hover {
  color: white;
}
.icon_foot {
  scale: 1.2;
  padding: 0.6em;
}
