* {
  margin: 0;
  box-sizing: border-box;
}
h1 {
  font-family: Georgia, serif;
}
h2 {
  font-family: Times, Times New Roman, serif;
}
.fullname {
  text-align: center;
  padding: 30px 30px 35px;
  font-size: 3rem;
}
.jobtitle {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
}
.titlecomment {
  text-align: center;
  padding: 90px 30px 30px;
}
.form-group,
.message {
  text-align: center;
  padding: 0px 0px 15px;
}
.form-control {
  width: 500px;
  heigth: 300px;
  max-width: 600px;
  max-height: 400px;
  background: rgba(0, 0, 0, 0.1);
  border: thin;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
  font-size: 17px;
}
.text-center {
  text-align: center;
}
button {
  transition: 0.3s;
  scale: 1;
  width: 15%;
  height: 50px;
  border: thin;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.13);
  font-weight: 900;
}
.form-control:focus {
  outline: 0px;
}
button:hover {
  transition: 0.3s;
  scale: 1.2;
}
